@media screen and (max-width: 1920px) {
  #columnas{
    column-count: 6 !important;
  }
}

@media screen and (max-width: 1600px) {
  #columnas{
    column-count: 5 !important;
  }
}

@media screen and (max-width: 1200px) {
  #columnas{
    column-count: 3 !important;
  }
}

@media screen and (max-width: 997px) {
  #columnas{
    column-count: 3 !important;
  }
}

@media screen and (max-width: 800px) {
  .contenedor-home{
    flex-direction: column !important;
  }

  .contenedor-fashion, .contenedor-teens{
    background-position: top center !important;
  }

  #columnas{
    column-count: 2;
  }
}

@media screen and (max-width: 650px) {
  #columnas{
    column-count: 1;
  }
}
