#columnas
  column-gap: 18px
  column-count: 4
  padding: 0 18px
  margin-top: 50px

.contenedor-imagen
  width: 100%
  display: inline-block
  min-height: 100px
  box-sizing: border-box

.imagen
  width: 100%
  margin-bottom: 16px
